body {
    background-color: #161618;
}

body::after {
    bottom: -5px;
    opacity: 1;
    z-index: -1;
    position: fixed !important;
    content: url(https://w0bm.com/spurdo.gif);
    right: -20px !important;
}

a:focus {
    outline: none;
}

/*body::after {
    position: fixed !important;
    content: url("https://koyaanis.com/i/kawaii2.gif");
    bottom: -5px;
    right: -20px !important;
    left: 0px !important;
    opacity: 1;
    z-index: -1;
}*/

.indexedit input, .indexedit select {
    display: none;
}

div.table {
    display: table;
}
div.tr {
    display: table-row;
}
div.td {
    display: table-cell;
}
div.thead {
    display: table-header-group;
}
div.th {
    display: table-cell;
}
div.tbody {
    display: table-row-group;
}

.catfart {
    position: fixed;
    width: 100px;
    height: 120px;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.catfart:before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    top: 10px;
    background-image: url("/images/catfart/cut.png");
    transition: transform 0.1s;
}

.catfart.farting:before {
    background-image: url("/images/catfart/cutf.png");
    transform: rotate(-7deg);
    transform-origin: 100% 100%;
}

.flashcontainer {
    position:absolute;
    top:20px;
    opacity: 0.8;
    z-index: 5;
    width: 100%
}
.flashcontainer:empty {
    display:none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-form > .form-group > input{
    background: rgba(32, 32, 32, 0.3);
    color: #c8c8c8;
}
#bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(100px);
    filter:blur(100px);
    transform: translate3d(0, 0, 0);
    z-index: -1;
}

.navbar-inverse {
    background-color: rgba(32, 32, 32, 0.6);
    border: 0;
    z-index: 3;
}
.vertical-align {
    min-height: calc(100% - 50px);
    min-height: calc(100vh - 50px);
    display: flex;
    align-items: center;
}
.wrapper {
    width: 100%;
}
.row {
    width: 100%;
}

.tags {
    width: 350px;
    text-overflow: ellipsis;
    background: rgba(32, 32, 32, 0.6);
}

.comments {
    background: rgba(32, 32, 32, 0.6);
    padding: 0 2px 2px;
    overflow-y: hidden;
    border-right: 0 solid #3F3F3F;
}
#commentForm textarea {
    color: #c8c8c8;
    background: rgba(90, 88, 88, 0.4) none repeat scroll 0 0;
    height: 2.7em;
    resize: vertical;
    -webkit-transition: height 0.8s;
    -moz-transition: height 0.8s;
    transition: height 0.8s;
}
#commentForm textarea:active, #commentForm textarea:focus, #commentForm textarea:valid {
    height: 8em;
}
a[rel=extern]:after {
    font-family: 'FontAwesome';
    content: "\f08e";
    font-size: 0.8em;
    padding-left: 2px;
}
.navbar-nav > li {
    font-family: Oswald;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #1FB2B0;
}

 .panel-footer {
 border-bottom-right-radius: 3px;
 border-bottom-left-radius: 3px;
 padding: 0 0 8px 15px;
 }

th {
    text-align: center;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    /* padding: 8px; */
    line-height: 1.42857143;
    vertical-align: top;
    /* border-top: 1px solid #282828; */
}

table {
    border-collapse: inherit;
    border-spacing: 10px;
}

td, th {
    padding: 0;
    text-align: center;
}

.table>tbody>tr.success>td, .table>tfoot>tr.success>td, .table>thead>tr.success>th, .table>tbody>tr.success>th, .table>tfoot>tr.success>th {
    background-color: #0AA400;
}

code {
    padding: 0 0;
    font-size: 90%;
    color: #8b2ada;
    background-color: #161618;
    border-radius: 0;
}

.panel-primary {
    border-color: #161618;
}

.panel-default {
    margin-bottom: 2px;
    background-color: rgb(34, 34, 34);
    border: 1px solid rgba(10, 10, 11, 0.46);
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel.panel-default {
	    border: 1px solid #383737;
    }



.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #565656;
    border-color: #F800E3;
    border-radius: 0px;
}

.btn-default:hover {
    color: #ffffff;
    background-color: #2180ac;
    border-color: #1f79a3;
}

.btn-default {
    color: #ffffff;
    background-color: #1FB2B0;
    border-color: #1FB2B0;
}

.panel {
    color: #888888;
    border: 0;
    background-color: rgba(34, 34, 34, 0.8);
}

.rulez {
       color: #FFFFFF;
}

.btn-default {
    color: #ffffff;
    background-color: #1FB2B0;
    border-color: #1FB2B0;
}

.anim {

    margin: 0;
    animation: color 0.6s linear  infinite !important;
}
    @keyframes color {
            0%   {color:red;}
            25%  {color:yellow;}
            50%  {color:#1FB2B0;}
            75%  {color:#23dd06;}
            100% {color:red;}
            }

    @-webkit-keyframes color {
            0%   {color:red;}
            25%  {color:yellow;}
            50%  {color:#1FB2B0;}
            75%  {color:#23dd06;}
            100% {color:red;}
}

.btnlogin {
    display: inline-block;
    margin: 1px 1px -5px 1px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 13px;
    font-size: 12px;
    line-height: 0.7;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*@keyframes wiggle {
  0% { transform: rotate(-1deg); }
  50% { transform: rotate(1deg); }
  100% { transform: rotate(-1deg); }
}

body {
  animation-name: wiggle;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  overflow: hidden;
  animation-timing-function: ease-in-out;
}*/



video:before {
    box-shadow: 0 0 15px #000;
}

.comment_image {
  max-width: 200px;
  max-height: 35%;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 15px;
}

.navbar-default {
    background-color: #1C1C1D;
    border-color: #282828;
}

.navbar-brand > img {
    display: block;
    height: 49px;
    margin-top: -8px;
}

.navbar-nav > li > a {
    padding-top: 13px !important;
    padding-bottom: 15px;
}

.fucklaravel {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .fucklaravel {
    width: 750px;
  }
  .fucklaravel + div > .fucklaravel {
    width: 400px;
  }
  .fucklaravel + div > .flashcontainer > .fucklaravel {
    width: 400px;
  }
}
@media (min-width: 992px) {
  .fucklaravel {
    width: 970px;
  }
  .fucklaravel + div > .fucklaravel {
    width: 620px;
  }
  .fucklaravel + div > .flashcontainer > .fucklaravel {
    width: 620px;
  }
}
@media (min-width: 1200px) {
  .fucklaravel {
    width: 1170px;
  }
  .fucklaravel + div > .fucklaravel {
    width: 820px;
  }
  .fucklaravel + div > .flashcontainer > .fucklaravel {
    width: 820px;
  }
}
@media (min-width: 1550px) {
  .fucklaravel {
    width: 1550px !important;
  }
}

.suchleiste {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #888888;
    background: #1C1C1D none;
    border: 1px solid #282828;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    float: right;
    margin-top: -30px;
}

.suchbutton {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 0.7;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
    margin-top: -30px;
    background: #1FB2B0 none;
}

div.message > div.panel-heading > h3 {
    font-size: 25px;
    margin: 0;
    display: inline;
}

div.message > div.panel-heading {
    display: flex;
    justify-content: space-between;
}

div.message > div.panel-heading > span {
    color: #888;
}

/* SPINNER */
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.cube1, .cube2 {
    background-color: #333;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

.mitte {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rain {
	-webkit-transform: rotate(35deg);
	transform: rotate(35deg);
}

img.icon[src="/images/icons/watermelon.png"] {
	-webkit-transform: rotate(35deg);
	transform: rotate(35deg);
	margin-left: -3px;
	margin-right: 1px;
}

.rainsmall {
        height:16px;
        width: 16px;
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
	margin-left: -3px;
	margin-right: 1px;
}

.dank {
	height: 32px;
	width: 	32px;
	margin-bottom: 6px;
}

.danksmall {
	height: 20px;
	width:  20px;
	margin-bottom: 5px;
}

.flinny {
	height: 32px;
	width:  32px;
	margin-bottom: 6px;
}

.patoy {
	height: 32px;
	width:  32px;
	margin-bottom: 6px;
}

.patoyklein {
	height: 16px;
	width:  16px;
	margin-bottom: 5px;
}

.flinnysmall {
	height: 16px;
	width:  16px;
	margin-bottom: 5px;
}

.gay {
	height: 32px;
	width:  32px;
	margin-bottom: 2px;
}

.gaysmall {
	height: 16px;
	width:  16px;
	margin-bottom: 2px;
}

.duke {
	height: 32px;
	width:  32px;
	margin-bottom: 2px;
}

.dukesmall {
	height: 16px;
	width:  16px;
	margin-bottom: 2px;
}

ul.navbar-right > li > a > span.badge {
    visibility: hidden;
}

.readall {
	margin-top: -20px;
}

.onigiri {
	margin-bottom: 2px;
}

.bio {
	height: 32px;
	width:  32px;
	margin-bottom: 4px;
}

.biosmall {
	height: 16px;
	width:  16px;
	margin-bottom: 4px;
}

.jkh {
	margin-left: 0px!important;
}

.futter {
	float: left;
	text-align: left;
	word-break: break-word;
	word-wrap: break-word;
	padding-left: 5px;
        display: block;
}

.futter > p {
    margin: 0;
}

.navbar-fixed-bottom {
        bottom: 0;
        margin-bottom: 0;
        border-width: 1px 0 0;
        background: rgba(10, 10, 10, 0.84);
}

.logreg {
	color: #ADADAD;
    	font-family: Oswald;
    	padding-top: 5px !important;
    	font-size: 16px;
}

.eingabe {
	display: block;
	padding: 6px 12px!important;
	background-color: #4a4a4a!important;
	font-size: 14px;
	line-height: 1.42857143;
	color: #fffefe;
	border: 1px solid;
	border-color: #222323;
}

input {
	outline: 0!important;
}

.trennelement {
    	height: 1px;
    	margin: -3px 0;
    	overflow: hidden;
    	background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-menu {
	border: 6px solid #222222!important;
	padding: 5px 0px!important;
	margin: 6px -5px 0!important;
	border-radius: 0px!important;
}

.erinnerung {
	display: inline-block;
	margin-top: 4px;
	margin-bottom: 0;
	margin-left: 4px;
	vertical-align: middle;
}

.cheggbogs {
    	display: inline-block;
    	margin-top: 4px!important;
    	margin-bottom: 0;
    	vertical-align: middle;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 5px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #ffffff;
    white-space: nowrap;
}

.form-control {
	outline: aqua!important;
	background-color: #3c3a3a;
}

.video-js {
	position: initial;
	background-color: transparent;
	color: #1fb2b0;
}

.video-js .vjs-play-progress {
	background-color: #1fb2b0;
}

.video-js .vjs-volume-level {
	background-color: #1fb2b0;
}


.video-js .vjs-control-bar {
    background: rgba(34, 34, 34, 0.61)
}

.vjs-playback-rate .vjs-playback-rate-value {
    top: -1px;
    left: 1px;
}

.video-js .vjs-time-control {
	font-size: 1.5em;
	line-height: 1.7em;
	top: 1px;
}

.strong-colored strong {
    color: #1FB2B0;
}

.video-js .vjs-current-time, .video-js .vjs-time-divider, .video-js .vjs-duration {
    display: block;
}

.video-js .vjs-current-time {
    padding-right: 0px;
}

.video-js .vjs-duration {
    padding-left: 0px;
}

.video-js .vjs-control-bar {
    display: none;
}

.americagay {
	height: 32px;
	width:  32px;
	margin-bottom: 2px;
	margin-left: 5px;
}

.americagaysmall {
	height: 16px;
	width:  16px;
	margin-bottom: 2px;
}

select.form-control, input.form-control {
    background-color: #353434;
}

#dragndrop {
    border: 2px dashed #353434;
    border-radius: 0px;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 0px;
    background-color: #121214;
    color: #888;
    width: 100%;
    min-height: 150px;
}

#dragndrop-link {
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

#dragndrop-link:hover {
    text-decoration: none;
}

#dragndrop-text {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    flex-direction: column;
}

#dragndrop-text > video {
    width: 85%;
    margin-top: 5px;
}

.progress {background: rgb(26, 27, 26); border-radius: 0px; height: 20px; width: 85%;}
.progress-bar-custom {background: rgba(47, 196, 47, 1);} 
.progress-striped .progress-bar-custom {background-color: rgba(47, 196, 47, 1); background-image: -webkit-gradient(linear,0 100%,100% 0,color-stop(0.25,rgba(255, 255, 255, 0.15),color-stop(0.25,transparent),color-stop(0.5,transparent),color-stop(0.5,rgba(255, 255, 255, 0.15)),color-stop(0.75,rgba(255, 255, 255, 0.15)),color-stop(0.75,transparent),to(transparent))); background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent); background-image: linear-gradient(45deg,rgba(255, 255, 255, 0.15) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.15) 50%,rgba(255, 255, 255, 0.15) 75%,transparent 75%,transparent); background-size: 36px 36px;}

#dragndrop-clear {
    color: red;
}

#dragndrop-clear:hover {
    text-decoration: none;
}

.progress-striped {
    margin-bottom: 0px;
}

.upload-info {
    font-size: 1.5rem;
    font-weight: normal;
    word-break: break-word;
    white-space: normal;
    padding-top: 8px;
    padding-bottom: 5px;
}

.row-upload {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-upload > [class*="col-"] {
    display: flex;
    flex-direction: column;
}

.reich {
	font-family: 'UnifrakturCook', cursive;
	color: #F2F5F4;
	font-size: 18px;
}

#dragndrop-text:hover {
    color: #1fb2b0;
}

.islam {
	background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1235px-Flag_of_the_United_States.svg.png);
    background-repeat: repeat-x;
    background-size: contain;
}

.911 {
	text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
}

img.icon {
    max-height: 1.1em;
    max-width: 1.1em;
    vertical-align: middle;
    margin-bottom: 0.2em;
}

.progress-bar-success {
   background: #0AA400;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #9b9999!important;
}

::-webkit-scrollbar-track-piece {
    background-color: #222222!important;
    width: 10px;
    max-height: 10px!important;
}

::-webkit-scrollbar-thumb {
    width: 15px;
    background: #1fb2b0!important;
}

#submittags {
   font-size: 14px;
   background-color: #363434;
   color: white;
   padding-bottom: 6px;
}

button#submittags:hover {
   background: #575757;
}

.tags {
    /*box-shadow: -13px 0px 10px 5px #000*/
}

/* Deutschland */
.deutsch {
    background-image: -webkit-linear-gradient(#000000 33%, #dd0000 33%, #dd0000 66%, #ffce00 66%);
    background-image: -o-linear-gradient(#000000 33%, #dd0000 33%, #dd0000 66%, #ffce00 66%);
    background-image: -moz-linear-gradient(#000000 33%, #dd0000 33%, #dd0000 66%, #ffce00 66%);
    background-image: linear-gradient(#000000 33%, #dd0000 33%, #dd0000 66%, #ffce00 66%);
    width: 100%;

    font-family: 'UnifrakturCook', cursive;
    color: #F2F5F4;
    text-align: center;
    font-size: 1.3em;
    text-shadow: rgb(3, 3, 3) 4px 4px 4px;
}

.default-link {
    color: #fff;
}

.default-link:hover {
    color: #fff;
}

.default-link:focus {
    color: #fff;
}

.tag-panel-body {
   color: #F2F5F4;
   padding: 0px;
}

.toggo {
    background-color: rgba(34, 34, 34, 0);
    border: 0px solid rgba(10, 10, 11, 0);
    padding-bottom: 2px;
    padding-top: 0px;
}

.mCustomScrollBox {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    outline: 0;
    direction: ltr;
}

.label {
    border-radius: 0;
    font-size: 80%;
    word-break: break-all;
    display: inline-table;
    white-space: inherit;
    text-align: left;
}

a.delete-tag.default-link {
    color: #1fb2b0;
    padding-left: 3px;
}

.label-info {
    background-color: #118280;
}

.bootstrap-tagsinput {
    color: #c8c8c8;
    background: rgba(90, 88, 88, 0.4) none repeat scroll 0 0;
    border: none;
    border-radius: 0px;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    width: 79%;
    padding: 6px 3px;
}

.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
    padding-top: 5px;
    vertical-align: middle;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #383737;
    border-color: #1fb2b0;
}

.modal-body > .bootstrap-tagsinput, .col-sm-10 > .bootstrap-tagsinput {
    position: relative;
    width: 100%;
}

.col-sm-10 > .bootstrap-tagsinput {
    background-color: #353434;
    border: 1px solid #282828;
}

/* SCROLL FOO */
#sidebar {
    width: 350px;
    float: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    height: calc(100% - 50px);
    height: calc(100vh - 50px);
}

#sidebar > #motd {
    border: 4px solid #1fb2b0;
    margin-bottom: 1px;
    text-align: center;
    background-color: rgb(34, 34, 34);
    border-radius: 0px;
}

#sidebar > .comments {
    flex-grow: 1;
    overflow-y: scroll;
}

#sidebar > .comments, #sidebar > .tags {
    border-bottom: 1px solid #1fb2b0;
    width: 350px;
}

/* Damit das Logo nicht mehr auf Handys gefickt ist */

@media(max-width:35em) {
	.navbar-brand > img {margin-left: 5px; height: 49px; margin-top: 0px;}
}

@media(max-width:40em) {
	.navbar-brand > img {margin-left: 5px; height: 49px; margin-top: 0px;}
}

@media(max-width:45em) {
	.navbar-brand > img {margin-left: 5px; height: 49px; margin-top: 0px;}
}

@media(max-width:48em) {
	.navbar-brand > img {margin-left: 5px; height: 49px; margin-top: 0px;}
}

/* Fixing Tag height and stuff */
div#tag-display {
    overflow: auto;
    max-height: 4em;
    padding: 0px 2px;
    padding-bottom: 3px;
    border-top: 1px solid #adadad;
    width: 350px;
}

.tagtest {
   padding: 0px 2px;
   display: block;
   height: auto;
}

/* Hiding Tag Scrollbar in Webkit Browsers */
div#tag-display::-webkit-scrollbar {
    display: none;
}

/* Tag Toggle Test!
    #tagcontent {display: none; }
    .tagadd:active + .hidetaginput + #tagcontent  {display: inline;}
    .tagadd:focus + .hidetaginput + #tagcontent {display: inline;}
    .tagadd:valid + .hidetaginput + #tagcontent {display: inline;}

  */


label[for='tag-add-toggle'] {
      color: #1FB2B0;
      padding-top: 6px;
      font-weight: normal;
      padding-bottom: 5px;
      margin-bottom: 0px;
}

label[for='tag-add-toggle']:hover {
      color: #00fbff;
      text-decoration: none;
  }

#tag-add-toggle {
      display: none;
  }

#tag-add-toggle + #tag-add {
      display: none;
  }

#tag-add-toggle:checked + #tag-add {
      display: block;
  }

  .donationlist {
      max-height: 230px;
      overflow: auto;
      padding-bottom: 0px;
      padding-right: 0px;
      padding-left: 0px;
  }

  .table {
      margin-bottom: 0;
  }

.btn-primary {
    color: #ffffff;
    background-color: #222222;
    border-color: #1FB2B0;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #222222;
    border-color: #1fb2b0;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: #ffffff;
    background-color: #383737;
    border-color: #1fb2b0;
}

.btn-primary:focus, .btn-primary.focus {
    color: #ffffff;
    background-color: #383737;
    border-color: #1fb2b0;
}

span.addtagsy {
    font-family: Oswald;
    letter-spacing: 0.4px;
    cursor: pointer;
    padding: 5px 5px;
}

span.addtagsy>a {
	    color: #ADADAD;
    }

span.addtagsy>a:hover {
    color: #00fbff;
    text-decoration: none;
    background: #575757;
    padding: 6px 6px;
    margin-left: -6px;
    margin-right: -6px;
}

.tagpanelinfos {
    padding: 5px;
    padding-left: 0px;
    padding-bottom: 5px;
}

div#tag-add {
    }

.tagtest.tagpanelinfos {
    border-right: 2px solid #1fb2b0;
    width: 100%;
    border-bottom: 2px solid #1fb2b0;
    height: 34px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

/* Experimental Mobile Shit xD */
@media (max-width: 767px) {
    #sidebar > #motd {
        border: 3px solid #1fb2b0;
        margin-bottom: 1px;
        text-align: center;
        background-color: rgb(34, 34, 34);
        position: static;
        width: 100%;
        display: none !important;
    }
}
@media (max-width: 767px) {
    #sidebar {
        width: 100%;
        float: left;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        height: auto !important;
        position: absolute;
        /*top: 545px;*/
        
        bottom: 0;
        z-index: 2;
    }
}
@media (max-width: 763px) {
    #sidebar {
        width: 100%;
        float: left;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        height: auto !important;
        position: absolute;
        top: 38em;
        bottom: 0;
        z-index: 2;
    }
}
@media (max-width: 767px) {
    aside.tags.hidden-xs.mCustomScrollbar._mCS_2.mCS-autoHide.mCS_no_scrollbar {
        width: 100%;
    }
}
@media (max-width: 767px) {
    #sidebar > .comments {
        flex-grow: 1;
        overflow-y: visible;
        padding-bottom: 95px;
        width: 100%;
	border-bottom: 2px solid transparent;
    }
}
@media (max-width: 767px) {
    .vertical-align {
        min-height: calc(100% - 50px);
        min-height: calc(100vh - 50px);
        display: flex;
        align-items: baseline;
    }
}
@media (max-width: 690px) {
    .vertical-align {
        min-height: calc(100% - 50px);
        min-height: calc(50vh - 50px);
        display: flex;
        align-items: baseline;
        padding-top: 5px;
    }
}
@media (max-width: 657px) {
    #sidebar {
        width: 100%;
        float: left;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        height: auto !important;
        position: absolute;
        top: 35em;
        z-index: 2;
    }
}
@media (max-width: 767px) {
    #sidebar, #motd, #commentForm, .tags, .comments {
        display: block !important;
        background: #1c1c1d;
    }
}
@media (max-width: 360px) {
    #sidebar {
        width: 100%;
        float: left;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        height: auto !important;
        position: absolute;
        top: 23em;
        z-index: 2;
    }
}
@media (max-width: 360px) {
    #sidebar > .tags {
        border-bottom: 1px solid #1fb2b0;
        width: 100%;
        bottom: 0;
        position: fixed !important;
        background: rgb(22, 22, 24);
        border-top: 1px solid #1fb2b0;
        border-left: 0px solid #1fb2b0;
    }
}
@media (max-width: 360px) {
    div#commentForm {
        border-top: 2px dashed #1fb2b0;
    }
}
/* Sidebar Mobile */

@media (max-width: 767px) {
    #sidebar {
        top: 40em;
    }
}
@media (max-width: 694px) {
    #sidebar {
        top: 36em;
    }
}
@media (max-width: 610px) {
    #sidebar {
        top: 33em;
    }
}
@media (max-width: 549px) {
    #sidebar {
        top: 31em;
    }
}
@media (max-width: 548px) {
    #sidebar {
        top: 31em;
    }
}
@media (max-width: 511px) {
    #sidebar {
        top: 29em;
    }
}
@media (max-width: 509px) {
    #sidebar {
        top: 29em;
    }
}
@media (max-width: 448px) {
    #sidebar {
        top: 26em;
    }
}
@media (max-width: 420px) {
    #sidebar {
        top: 26em;
    }
}
@media (max-width: 400px) {
    #sidebar {
        top: 24em;
    }
}
@media (max-width: 390px) {
    #sidebar {
        top: 24em;
    }
}
@media (max-width: 367px) {
    #sidebar {
        top: 23em;
    }
}
@media (max-width: 360px) {
    #sidebar {
        top: 23em;
    }
}
/* Sidebar Mobile Queries END */
/* TAGS MOBILE FIXED */

@media (max-width: 767px) {
    #sidebar > .tags {
        border-bottom: 1px solid #1fb2b0;
        width: 100%;
        bottom: 0;
        position: fixed !important;
        background: rgb(22, 22, 24);
        border-top: 1px solid #1fb2b0;
        border-left: 0px solid #1fb2b0;
    }
}
@media (max-width: 694px) {
    #sidebar > .tags {
        border-bottom: 1px solid #1fb2b0;
        width: 100%;
        bottom: 0;
        position: fixed !important;
        background: rgb(22, 22, 24);
        border-top: 1px solid #1fb2b0;
        border-left: 0px solid #1fb2b0;
    }
}
@media (max-width: 610px) {
    #sidebar > .tags {
        border-bottom: 1px solid #1fb2b0;
        width: 100%;
        bottom: 0;
        position: fixed !important;
        background: rgb(22, 22, 24);
        border-top: 1px solid #1fb2b0;
        border-left: 0px solid #1fb2b0;
    }
}
@media (max-width: 549px) {
    #sidebar > .tags {
        border-bottom: 1px solid #1fb2b0;
        width: 100%;
        bottom: 0;
        position: fixed !important;
        background: rgb(22, 22, 24);
        border-top: 1px solid #1fb2b0;
        border-left: 0px solid #1fb2b0;
    }
}
@media (max-width: 548px) {
    #sidebar > .tags {
        border-bottom: 1px solid #1fb2b0;
        width: 100%;
        bottom: 0;
        position: fixed !important;
        background: rgb(22, 22, 24);
        border-top: 1px solid #1fb2b0;
        border-left: 0px solid #1fb2b0;
    }
}
@media (max-width: 511px) {
    #sidebar > .tags {
        border-bottom: 1px solid #1fb2b0;
        width: 100%;
        bottom: 0;
        position: fixed !important;
        background: rgb(22, 22, 24);
        border-top: 1px solid #1fb2b0;
        border-left: 0px solid #1fb2b0;
    }
}
@media (max-width: 509px) {
    #sidebar > .tags {
        border-bottom: 1px solid #1fb2b0;
        width: 100%;
        bottom: 0;
        position: fixed !important;
        background: rgb(22, 22, 24);
        border-top: 1px solid #1fb2b0;
        border-left: 0px solid #1fb2b0;
    }
}
@media (max-width: 448px) {
    #sidebar > .tags {
        border-bottom: 1px solid #1fb2b0;
        width: 100%;
        bottom: 0;
        position: fixed !important;
        background: rgb(22, 22, 24);
        border-top: 1px solid #1fb2b0;
        border-left: 0px solid #1fb2b0;
    }
}
@media (max-width: 420px) {
    #sidebar > .tags {
        border-bottom: 1px solid #1fb2b0;
        width: 100%;
        bottom: 0;
        position: fixed !important;
        background: rgb(22, 22, 24);
        border-top: 1px solid #1fb2b0;
        border-left: 0px solid #1fb2b0;
    }
}
@media (max-width: 400px) {
    #sidebar > .tags {
        border-bottom: 1px solid #1fb2b0;
        width: 100%;
        bottom: 0;
        position: fixed !important;
        background: rgb(22, 22, 24);
        border-top: 1px solid #1fb2b0;
        border-left: 0px solid #1fb2b0;
    }
}
@media (max-width: 390px) {
    #sidebar > .tags {
        border-bottom: 1px solid #1fb2b0;
        width: 100%;
        bottom: 0;
        position: fixed !important;
        background: rgb(22, 22, 24);
        border-top: 1px solid #1fb2b0;
        border-left: 0px solid #1fb2b0;
    }
}
@media (max-width: 367px) {
    #sidebar > .tags {
        border-bottom: 1px solid #1fb2b0;
        width: 100%;
        bottom: 0;
        position: fixed !important;
        background: rgb(22, 22, 24);
        border-top: 1px solid #1fb2b0;
        border-left: 0px solid #1fb2b0;
    }
}
@media (max-width: 360px) {
    #sidebar > .tags {
        border-bottom: 1px solid #1fb2b0;
        width: 100%;
        bottom: 0;
        position: fixed !important;
        background: rgb(22, 22, 24);
        border-top: 1px solid #1fb2b0;
        border-left: 0px solid #1fb2b0;
    }
}
/* END OF MOBILE TAG MEDIA QUERIES */
/* border-top for commentForm (only for mobile devices */

@media (max-width: 767px) {
    div#commentForm {
        border-top: 2px solid #1fb275;
    }
}
@media (max-width: 694px) {
    div#commentForm {
        border-top: 2px solid #1fb275;
    }
}
@media (max-width: 610px) {
    div#commentForm {
        border-top: 2px solid #1fb275;
    }
}
@media (max-width: 549px) {
    div#commentForm {
        border-top: 2px solid #1fb275;
    }
}
@media (max-width: 548px) {
    div#commentForm {
        border-top: 2px solid #1fb275;
    }
}
@media (max-width: 511px) {
    div#commentForm {
        border-top: 2px solid #1fb275;
    }
}
@media (max-width: 509px) {
    div#commentForm {
        border-top: 2px solid #1fb275;
    }
}
@media (max-width: 448px) {
    div#commentForm {
        border-top: 2px solid #1fb275;
    }
}
@media (max-width: 420px) {
    div#commentForm {
        border-top: 2px solid #1fb275;
    }
}
@media (max-width: 400px) {
    div#commentForm {
        border-top: 2px solid #1fb275;
    }
}
@media (max-width: 390px) {
    div#commentForm {
        border-top: 2px solid #1fb275;
    }
}
@media (max-width: 367px) {
    #sidebar {
        top: 23em;
    }
}
@media (max-width: 360px) {
    div#commentForm {
        border-top: 2px solid #1fb275;
    }
}

/* Mobile Tag Box width */
@media (max-width: 767px) {
    div#tag-display {
        width: 100%;
    }
}
@media (max-width: 694px) {
    div#tag-display {
        width: 100%;
    }
}
@media (max-width: 610px) {
    div#tag-display {
        width: 100%;
    }
}
@media (max-width: 549px) {
    div#tag-display {
        width: 100%;
    }
}
@media (max-width: 548px) {
    div#tag-display {
        width: 100%;
    }
}
@media (max-width: 511px) {
    div#tag-display {
        width: 100%;
    }
}
@media (max-width: 509px) {
    div#tag-display {
        width: 100%;
    }
}
@media (max-width: 448px) {
    div#tag-display {
        width: 100%;
    }
}
@media (max-width: 420px) {
    div#tag-display {
        width: 100%;
    }
}
@media (max-width: 400px) {
    div#tag-display {
        width: 100%;
    }
}
@media (max-width: 390px) {
    div#tag-display {
        width: 100%;
    }
}
@media (max-width: 367px) {
    div#tag-display {
        width: 100%;
    }
}
@media (max-width: 360px) {
    div#tag-display {
        width: 100%;
    }
}

/* END OF MOBILE TAG WIDTH */

/* Alerts */
.alert {
	border-radius: 0px;
}

.flashcontainer {
    position: absolute;
    top: 20px;
    opacity: 0.8;
    z-index: 5;
    width: 100%;
}

.register {
    width: 100%;
    display: flex;
    justify-content: center
}

.ulbutton {
	position: relative;
    min-height: 1px;
    padding-left: 0;
    padding-right: 15px;
    float: left;
}

.ulcontainer {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.uploadheader {
    padding-bottom: 0px;
    margin: 20px 0 20px;
    text-align: center;
}

h3#upheader {
    font-family: monospace;
    font-weight: bold;
    color: #1fb2b0;
    text-shadow: 1px 1px 20px #1fb2b0;
}

.guidelinez {
    background: #353434;
    padding: 5px;
    white-space: normal;
}

p#hguide {
    font-weight: bold;
    color: #fdf8f8;
}

.guidelinez > p {
	color: #ffffff;
}

span#big {
    font-weight: bold;
    color: white;
}

ul#ulguide {
    color: #fdf8f8;
}

input#nsfw {
    vertical-align: top;
    margin: 4px 0 0;
    cursor: pointer;
}

.blah {
    background: #353434;
    padding: 6px 12px;
    border: 1px solid #282828;
}

label#nsfw {
    margin-bottom: 0px;
    cursor: pointer;
    color: #ff0000;
    vertical-align: bottom;
}

div#guidelines {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (min-width: 1550px) {
.ulcontainer {
    width: 768px !important;
}
}

@media (min-width: 1200px) {
.ulcontainer {
    width: 1170px !important;
}
}

@media (min-width: 992px) {
.ulcontainer {
    width: 970px !important;
}
}

@media (min-width: 768px) {
.ulcontainer {
    width: 750px !important;
}
}

.ultags > .bootstrap-tagsinput {
    position: unset;
    width: 100%;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: #000000;
}

.modal-body {
    position: relative;
    min-height: 80px;
    display: flex;
    justify-content: center;
}

input.form-control.usernamelogin {
    width: 300px;
}

input.form-control.passwordlogin {
    width: 300px;
}

.navbar-form {
	border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
    -webkit-box-shadow: 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 rgba(0, 0, 0, 0);
}

p#logincenter {
	text-align: center;
}

@media (max-width: 768px) {
	.navbar-inverse {
        background-color: rgb(22, 22, 24);
        border-bottom: 1px solid #2099ae;
	}
}

@media (max-width: 768px) {
    .flashcontainer {
    top: 5px;
    }
}

input#rememberme {
    vertical-align: sub;
}

span#rember {
    vertical-align: middle;
    color: white;
}

ul.vorteilul {
    text-align: left;
    background: #353535;
    color: white;
    padding: 5px;
    list-style: none;
}

.panel-danger {                      
    border: 1px solid red !important;
}                                     

p.vorteile {
    font-weight: bold;
}

.modal-body.frontendeditmodal {
    display: block !important;
}
