body {
    background-color: #161618;
   /* background: #161618 url("/spurdo.gif") no-repeat fixed right bottom;*/
}

/*body::after {
    position: fixed !important;
    content: url("https://koyaanis.com/i/kawaii2.gif");
    bottom: -5px;
    right: -20px !important;
    left: 0px !important;
    opacity: 1;
    z-index: -1;
}*/

.indexedit input, .indexedit select {
    display: none;
}

div.table {
    display: table;
}
div.tr {
    display: table-row;
}
div.td {
    display: table-cell;
}
div.thead {
    display: table-header-group;
}
div.th {
    display: table-cell;
}
div.tbody {
    display: table-row-group;
}

.catfart {
    position: fixed;
    width: 125px;
    height: 150px;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.catfart:before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    top: 10px;
    background-image: url("/images/catfart/cut.png");
    transition: transform 0.1s;
}

.catfart.farting:before {
    background-image: url("/images/catfart/cutf.png");
    transform: rotate(-7deg);
    transform-origin: 100% 100%;
}

.flashcontainer {
    position:absolute;
    top:20px;
    opacity: 0.8;
    z-index: 5;
    width: 100%
}
.flashcontainer:empty {
    display:none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-form > .form-group > input.form-control {
    background: rgba(32, 32, 32, 0.3);
    color: #c8c8c8;
}
#bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(100px);
    filter:blur(100px);
    transform: translate3d(0, 0, 0);
    z-index: -1;
}

.navbar-inverse {
    background-color: rgba(32, 32, 32, 0.6);
    border: 0;
    z-index: 3;
}
.vertical-align {
    min-height: calc(100% - 50px);
    min-height: calc(100vh - 50px);
    display: flex;
    align-items: center;
}
.wrapper {
    width: 100%;
}
.row {
    width: 100%;
}

.comments {
    float: left;
    height: calc(100% - 50px);
    height: calc(100vh - 50px);
    width: 350px;
    background: rgba(32, 32, 32, 0.6);
    padding: 2px;
    padding-top: 0px;
    overflow-y: scroll;
    border-right: 0px solid #3F3F3F;
}
.comments textarea {
    color: #c8c8c8;
    background: rgba(90, 88, 88, 0.4) none repeat scroll 0% 0%;
    height: 2.7em;
    resize: vertical;
    -webkit-transition: height 0.8s;
    -moz-transition: height 0.8s;
    transition: height 0.8s;
}
.comments textarea:active, .comments textarea:focus, .comments textarea:valid {
    height: 8em;
}
a[rel=extern]:after {
    font-family: 'FontAwesome';
    content: "\f08e";
    font-size: 0.8em;
    padding-left: 2px;
}
.navbar-nav > li {
    font-family: Oswald;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #1FB2B0;
}

 .panel-footer {
 border-bottom-right-radius: 3px;
 border-bottom-left-radius: 3px;
 padding: 0px 0px 8px 15px;
 }

th {
    text-align: center;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    /* padding: 8px; */
    line-height: 1.42857143;
    vertical-align: top;
    /* border-top: 1px solid #282828; */
}

table {
    border-collapse: inherit;
    border-spacing: 10px;
}

td, th {
    padding: 0;
    text-align: center;
}

.table>tbody>tr.success>td, .table>tfoot>tr.success>td, .table>thead>tr.success>th, .table>tbody>tr.success>th, .table>tfoot>tr.success>th {
    background-color: #0AA400;
}

code {
    padding: 0px 0px;
    font-size: 90%;
    color: #8b2ada;
    background-color: #161618;
    border-radius: 0px;
}

.panel-primary {
    border-color: #161618;
}

.panel-default {
    margin-bottom: 5px;
    background-color: rgba(34, 34, 34, 0.61);
    border: 1px solid rgba(10, 10, 11, 0.46);
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #565656;
    border-color: #F800E3;
}

.btn-default:hover {
    color: #ffffff;
    background-color: #2180ac;
    border-color: #1f79a3;
}

.btn-default {
    color: #ffffff;
    background-color: #1FB2B0;
    border-color: #1FB2B0;
}

.panel {
    color: #888888;
}

.rulez {
       color: #FFFFFF;
}

.btn-default {
    color: #ffffff;
    background-color: #1FB2B0;
    border-color: #1FB2B0;
}

.anim {

    margin: 0;
    animation: color 0.6s linear  infinite !important;
}
    @keyframes color {
            0%   {color:red;}
            25%  {color:yellow;}
            50%  {color:#1FB2B0;}
            75%  {color:#23dd06;}
            100% {color:red;}
            }

    @-webkit-keyframes color {
            0%   {color:red;}
            25%  {color:yellow;}
            50%  {color:#1FB2B0;}
            75%  {color:#23dd06;}
            100% {color:red;}
}

.btnlogin {
    display: inline-block;
    margin: 1px 1px -5px 1px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 13px;
    font-size: 12px;
    line-height: 0.7;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*@keyframes wiggle {
  0% { transform: rotate(-1deg); }
  50% { transform: rotate(1deg); }
  100% { transform: rotate(-1deg); }
}

body {
  animation-name: wiggle;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  overflow: hidden;
  animation-timing-function: ease-in-out;
}*/



video:before {
    box-shadow: 0 0 15px #000;
}

.comment_image {
  max-width: 50%;
  max-height: 35%;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 15px;
}

.navbar-default {
    background-color: #1C1C1D;
    border-color: #282828;
}

.navbar-brand > img {
    display: block;
    height: 49px;
    margin-top: -8px;
}

.navbar-nav > li > a {
    padding-top: 13px !important;
    padding-bottom: 15px;
}

.fucklaravel {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .fucklaravel {
    width: 750px;
  }
  .fucklaravel + div > .fucklaravel {
    width: 400px;
  }
  .fucklaravel + div > .flashcontainer > .fucklaravel {
    width: 400px;
  }
}
@media (min-width: 992px) {
  .fucklaravel {
    width: 970px;
  }
  .fucklaravel + div > .fucklaravel {
    width: 620px;
  }
  .fucklaravel + div > .flashcontainer > .fucklaravel {
    width: 620px;
  }
}
@media (min-width: 1200px) {
  .fucklaravel {
    width: 1170px;
  }
  .fucklaravel + div > .fucklaravel {
    width: 820px;
  }
  .fucklaravel + div > .flashcontainer > .fucklaravel {
    width: 820px;
  }
}
@media (min-width: 1550px) {
  .fucklaravel {
    width: 1550px !important;
  }
}

.suchleiste {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #888888;
    background-color: #1C1C1D;
    background-image: none;
    border: 1px solid #282828;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    float: right;
    margin-top: -30px;
}

.suchbutton {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 12px;
    line-height: 0.7;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
    margin-top: -30px;
    background-color: #1FB2B0;
}

div.message > div.panel-heading > h3 {
    font-size: 25px;
    margin: 0px;
    display: inline;
}

div.message > div.panel-heading {
    display: flex;
    justify-content: space-between;
}

div.message > div.panel-heading > span {
    color: #888;
}

/* SPINNER */
.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.cube1, .cube2 {
    background-color: #333;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

.mitte {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rain {
	height:32px;
	width: 32px;
	-webkit-transform: rotate(35deg);
	transform: rotate(35deg);
}


.rainsmall {
        height:16px;
        width: 16px;
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
	margin-left: -3px;
	margin-right: 1px;
}

.dank {
	height: 32px;
	width: 	32px;
	margin-bottom: 6px;
}

.danksmall {
	height: 20px;
	width:  20px;
	margin-bottom: 5px;
}

.flinny {
	height: 32px;
	width:  32px;
	margin-bottom: 6px;
}

.patoy {
	height: 32px;
	width:  32px;
	margin-bottom: 6px;
}

.patoyklein {
	height: 16px;
	width:  16px;
	margin-bottom: 5px;
}

.flinnysmall {
	height: 16px;
	width:  16px;
	margin-bottom: 5px;
}

.gay {
	height: 32px;
	width:  32px;
	margin-bottom: 2px;
}

.gaysmall {
	height: 16px;
	width:  16px;
	margin-bottom: 2px;
}

.duke {
	height: 32px;
	width:  32px;
	margin-bottom: 2px;
}

.dukesmall {
	height: 16px;
	width:  16px;
	margin-bottom: 2px;
}

ul.navbar-right > li > a > span.badge {
    visibility: hidden;
}

.readall {
	margin-top: -20px;
}

.onigiri {
	margin-bottom: 2px;
}

.bio {
	height: 32px;
	width:  32px;
	margin-bottom: 4px;
}

.biosmall {
	height: 16px;
	width:  16px;
	margin-bottom: 4px;
}

.jkh {
	margin-left: 0px!important;
}

.futter {
	text-align: right;
	float: right;
}

.logreg {
	color: #ADADAD;
    	font-family: Oswald;
    	padding-top: 5px !important;
    	font-size: 16px;
}

.eingabe {
	display: block;
	padding: 6px 12px!important;
	background-color: #4a4a4a!important;
	font-size: 14px;
	line-height: 1.42857143;
	color: #fffefe;
	border: 1px solid;
	border-color: #222323;
}

input {
	outline: 0!important;
}

.trennelement {
    	height: 1px;
    	margin: -3px 0;
    	overflow: hidden;
    	background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-menu {
	border: 6px solid #222222!important;
	padding: 5px 0px!important;
	margin: 6px -5px 0!important;
	border-radius: 0px!important;
}

.erinnerung {
	display: inline-block;
	margin-top: 4px;
	margin-bottom: 0;
	margin-left: 4px;
	vertical-align: middle;
}

.cheggbogs {
    	display: inline-block;
    	margin-top: 4px!important;
    	margin-bottom: 0;
    	vertical-align: middle;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 5px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #ffffff;
    white-space: nowrap;
}

.form-control {
	outline: aqua!important;
}

.video-js {
	position: initial;
	background-color: transparent;
	color: #1fb2b0;
}

.video-js .vjs-play-progress {
	background-color: #1fb2b0;
}

.video-js .vjs-volume-level {
	background-color: #1fb2b0;
}


.video-js .vjs-control-bar {
    background: rgba(34, 34, 34, 0.61)
}

.vjs-playback-rate .vjs-playback-rate-value {
    top: -1px;
    left: 1px;
}

.video-js .vjs-time-control {
	font-size: 1.5em;
	line-height: 1.7em;
	top: 1px;
}

.strong-colored strong {
    color: #1FB2B0;
}

/* Comment edits */
.panel-body[contenteditable='true'] {
   background-color: rgba(0,0,0,0.2);
}

.video-js .vjs-current-time, .video-js .vjs-time-divider, .video-js .vjs-duration {
    display: block;
}

.video-js .vjs-current-time {
    padding-right: 0px;
}

.video-js .vjs-duration {
    padding-left: 0px;
}

.video-js .vjs-control-bar {
    display: none;
}

.americagay {
	height: 32px;
	width:  32px;
	margin-bottom: 2px;
}

.americagaysmall {
	height: 16px;
	width:  16px;
	margin-bottom: 2px;
}
